.dashboard-profle-wrapper {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  padding: 1.5rem 1rem;
  background: #ffffff;
  border-radius: 0.4rem;
}

.dash-prf-start {
  position: relative;
  width: auto;
}
.dash-prf-start .dash-prf-start-upper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
}
.dash-prf-start {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.upload-btn-wrapper .btn {
  border: none;
  color: #1ca774;
  background-color: rgb(23 172 106 / 12%);
  padding: 8px 20px;
  border-radius: 0.3rem;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer !important;
}
.upload-btn-wrapper input[type="file"] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
.upload-btn-wrapper.small .btn {
  padding: 0.5rem 1rem;
  height: auto;
  font-size: 12px;
}

.dash-prf-end {
  position: relative;
  display: block;
  flex: 1;
  padding-left: 1.5rem;
}
.dash-prfs-caption {
  position: relative;
  margin-bottom: 1rem;
  width: 100%;
}
.dash-prfs-caption.emplyer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dash-prfs-title h4 {
  margin-bottom: 2px;
}
.dash-prf-caption-end {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.jbs-kioyer-groups {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 11px;
  letter-spacing: 3px;
  color: #d7dde2;
}
.dash-prf-infos {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.dash-prf-infos .single-dash-prf-infos {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-right: 1.5rem;
}
.dash-prf-infos .single-dash-prf-infos:last-child {
  margin-right: 0rem;
}
.single-dash-prf-infos-icons {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ebeef1;
  border-radius: 0.2rem;
  color: #86959f;
}
.single-dash-prf-infos-caption {
  position: relative;
  display: block;
  padding-left: 10px;
}
.single-dash-prf-infos-caption h5 {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.4;
}

.dash-prf-completion {
  position: relative;
  flex: 1;
  max-width: 280px;
}

@media (max-width: 767px) {
  .dashboard-profle-wrapper {
    flex-direction: column;
  }
  .dashboard-profle-wrapper .dash-prf-end {
    padding: 0;
  }
  .dash-prf-infos {
    flex-wrap: wrap;
  }
  .single-dash-prf-infos {
    flex: 0 0 100%;
    margin-bottom: 1rem;
  }
}

@media (max-width: 600px) {
  .dash-prfs-caption.emplyer {
    flex-direction: column;
    align-items: flex-start;
  }
  .dash-prfs-flexfirst {
    margin-bottom: 0.5rem;
  }
}

@media (max-width: 992px) {
  .dash-prf-caption-end {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (max-width: 991px) {
  .dash-prf-completion {
    max-width: 100%;
    flex: auto;
    width: 100%;
  }
}
