.card {
  border: none;
  margin-bottom: 30px;
  border-radius: 0.5rem;
  overflow: hidden;
  background: #ffffff;
}

.card-header {
  background: #ffffff;
  padding: 0.8rem 1rem;
  border-color: #e2e8ec;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-header h4,
.card-header h5,
.card-header h6 {
  font-size: 15px;
  font-weight: 600;
  margin: 0;
}
.jbs-list-box {
  position: relative;
  width: 100%;
  display: flex;
  background: #ffffff;
  border-radius: 0.5rem;
  flex-direction: column;
  padding: 1.4rem 1rem;
}
.jbs-list-head {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.jbs-list-head-thunner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
}
.jbs-list-emp-thumb {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  background: #f4f5f7;
  border-radius: 0.4rem;
}
.jbs-list-emp-thumb figure {
  margin: 0;
}
.jbs-list-emp-thumb figure img {
  max-width: 50px;
}
.jbs-list-job-caption {
  display: flex;
  align-items: self-start;
  justify-content: flex-start;
  flex-direction: column;
  padding-left: 1rem;
  width: 100%;
  flex: 1;
}
.jbs-job-employer-wrap {
  position: relative;
  width: 100%;
}
.jbs-job-employer-wrap span {
  font-weight: 500;
  color: #728ca3;
  font-size: 13px;
}
.jbs-grid-emp-content .jbs-job-employer-wrap span {
  font-size: 12px;
}
.jbs-grid-emp-content .jbs-job-title-wrap h4 {
  font-size: 15px;
  line-height: 1.5;
}
.jbs-job-title-wrap {
  position: relative;
  display: block;
  width: 100%;
}
.jbs-job-title-wrap h4 {
  margin: 0;
  font-size: 17px;
}
.jbs-job-title-wrap {
  position: relative;
  max-width: 290px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media all and (max-width: 1199px) and (min-width: 768px) {
  .jbs-list-box .jbs-list-head-last .btn-outline-secondary {
    display: none;
  }
}

@media (max-width: 767px) {
  .jbs-list-box .jbs-list-head-last .btn-outline-secondary {
    display: none;
  }
  .jbs-list-postedinfo {
    display: flex;
    margin: 1rem 0;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  .jbs-list-box .jbs-job-title-wrap h4 {
    font-size: 14px;
  }
  .jbs-list-head {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .jbs-list-head-thunner {
    margin-bottom: 1rem;
  }
  .jbs-list-emp-thumb {
    width: 50px;
    height: 50px;
  }
  .jbs-list-job-caption {
    padding-left: 10px;
  }
}
